<div class="device_loader" ng-hide="isDoneLoading">
  <div class="device_dot"></div>
  <div class="device_dot"></div>
  <div class="device_dot"></div>
</div>

<div class="wrapper" ng-show="isDoneLoading">
    <header class="main-header"></header>
    <aside class="main-sidebar" ng-include="'./public/modules/templates/nav.html'">
    </aside>
    <!-- <span us-spinner spinner-key="spinner-1"></span> -->
    <div class="content-wrapper">
        <treasure-overlay-spinner active='spinner.active'>
            <div ui-view></div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2016-2017 <a href="#">SekSek</a>.</strong> All rights reserved.
    </footer>
</div>
