<div class="modal-header">
    <h3 class="modal-title">Device: {{device.deviceManufacturer}} <small>{{device.deviceModel}}</small></h3>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab index="0" heading="Information">
            <div style="margin:10px">
                <span class="info-box-icon" ng-class="{'bg-aqua': device.online== true,'bg-gray': device.online == false}"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <small class="info-box-number">IP Address: </small>
                    <span class="info-box-text">{{device.IPAddress}}</span>
                    <span class="info-box-number">MAC Address:</span>
                    <small class="info-box-text">{{device.MacAddress}}</small>
                    <span class="info-box-number">Device ID:</span>
                    <small class="info-box-text">{{device.deviceID}}</small>
                    <span class="info-box-number">O.S:</span>
                    <small class="info-box-text">{{device.osName}}({{device.osVersion}})</small>
                    <span class="info-box-number">GEOLOCATION:</span>
                    <small class="info-box-text">{{device.geolocation_lat}},{{device.geolocation_lng}}</small>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Status">
            <div style="margin:10px">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="info-box-icon" ng-class="{'bg-aqua': device.online== true,'bg-gray': device.online == false}"><i class="fa fa-desktop"></i></span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="apploader" ng-show="device.online">
                            <div class="loader--dot"></div>
                            <div class="loader--dot"></div>
                            <div class="loader--dot"></div>
                            <div class="loader--dot"></div>
                            <div class="loader--dot"></div>
                            <div class="loader--dot"></div>
                        </div>
                        <div class="mask-loading" ng-show="!device.online">
                            <div class="spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="info-box-icon bg-aqua pull-right"><i class="fa fa-server"></i></span>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Logs">
            <div style="cursor: text;counter-reset: input;margin: 10px;padding: 10px;color: #63de00;-moz-font-smoothing: antialiased;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;background: #002728;height: 320px;overflow-y: scroll;font-size:12px;">
                <div class="terminal">
                    <p class=" terminal--header ">Log Date: {{dateNow | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
                    <div ng-repeat="log in pingLogs">
                        <p class="terminal--input">Ping device: {{log.device.deviceId}}</p>
                        <p class=" terminal--output">Lantency: {{log.latency}} -- Response: {{log.response}}</p>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <span class="label label-success pull-left" ng-show="device.online">Online</span>
    <span class="label label-danger pull-left" ng-show="!device.online">Offline</span>
    <button class="btn btn-flat btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
