<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Devices
          </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Devices</li>
    </ol>
</section>
<!-- Main content -->
<section class="content device">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                            Filter Devices: {{applicationStatus}}
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="updateFilter('Active')"><i class="fa fa-wifi"></i> Active</a>
                            </li>
                            <li><a href="" ng-click="updateFilter('Inactive')"><i class="fa fa-power-off"></i> Inactive</a>
                            </li>
                            <li><a href="" ng-click="updateFilter('All')"><i class="fa fa-th"></i> All</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========================================================== -->
    <div class="row">
        <div class="col-md-3" ng-repeat="device in devices">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{device.deviceManufacturer}} <small>{{device.deviceModel}}</small></h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-box-tool dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <span class="info-box-icon" ng-class="{'bg-aqua': device.online== true,'bg-gray': device.online == false}">
                        <i class="fa fa-desktop"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">IP Address:</span>
                        <small class="info-box-number">{{device.IPAddress}}</small>
                        <span class="info-box-text">Mac Address:</span>
                        <small class="info-box-number">{{device.MacAddress}}</small>
                        <span class="info-box-text">Device ID:</span>
                        <small class="info-box-number">{{device.deviceID}}</small>
                        <!-- <span class="info-box-text">O.S:</span>
                        <small class="info-box-number">{{device.osName}}({{device.osVersion}})</small> -->
                        <span class="label label-success" ng-show="device.online">Online</span>
                        <span class="label label-danger" ng-show="!device.online">Offline</span>
                    </div>
                    <a href="" ng-click="openDeviceInfo(device)" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--<div class="col-md-3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Device Name</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-desktop"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mac Address:</span>
                        <small class="info-box-number">00-1B-63-84-45-E6</small>
                        <span class="info-box-text">Device ID:</span>
                        <small class="info-box-number">02123dVAD6</small>
                        <span class="info-box-text">O.S.:</span>
                        <small class="info-box-number">Windows 10</small>
                    </div>
                    <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Device Name</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <span class="info-box-icon bg-red"><i class="fa fa-plug"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mac Address:</span>
                        <small class="info-box-number">00-1B-63-84-45-E6</small>
                        <span class="info-box-text">Device ID:</span>
                        <small class="info-box-number">02123dVAD6</small>
                        <span class="info-box-text">O.S.:</span>
                        <small class="info-box-number">Windows 10</small>
                    </div>
                    <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Device Name</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <span class="info-box-icon bg-gray"><i class="fa fa-power-off"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mac Address:</span>
                        <small class="info-box-number">00-1B-63-84-45-E6</small>
                        <span class="info-box-text">Device ID:</span>
                        <small class="info-box-number">02123dVAD6</small>
                        <span class="info-box-text">O.S.:</span>
                        <small class="info-box-number">Windows 10</small>
                    </div>
                    <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</section>
