<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Monitoring
          </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Monitoring</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row" ng-controller="dashboardMonitoringCtrl">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-wifi"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Connection</span>
                    <span class="info-box-number">{{info.online.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Inactive Connection</span>
                    <span class="info-box-number">{{info.offline.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Devices</span>
                    <span class="info-box-number">{{info.devices}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-file-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Logs</span>
                    <span class="info-box-number">{{info.appLogs}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoring Report</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-box-tool dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a href="" ng-click="loadWorldMap()">View World Map</a></li>
                                <li><a href="" ng-click="loadAusMap()">Australia</a></li>
                                <li><a href="" ng-click="loadPhilMap()">Philippines</a></li>
                                <li class="divider"></li>
                                <li><a href="">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="pad">
                                <!-- Map will be created here -->
                                <div id="world-map-markers" style="height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
