<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Application 
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                            Export
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="downloadViaCSV()"><i class="fa fa-file-excel-o"></i> CSV</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-excel-o"></i> Excel (XLSX)</a>
                            </li>
                            <li><a href=""><i class="fa fa-th"></i> Google Sheets</a>
                            </li>
                        </ul>
                    </div>
                    <button ng-click="deleteSelected()" ng-disabled="!deleteSomeData" class="btn btn-flat btn-sm btn-danger">
                        <i class="fa fa-remove"></i> Delete
                    </button>
                    <button class="btn btn-flat btn-sm btn-success" ng-click="refreshReport()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-flat btn-sm btn-info">{{dtFrom | amDateFormat:'MMM DD, YYYY'}} - {{dtTo | amDateFormat:'MMM DD, YYYY'}}</button>
                        <button class="btn btn-flat btn-sm btn-info" ng-click="openDate()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file-o"></i> Logs</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th data-sort-ignore="true" width="5%">
                                                    <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                                </th>
                                                <th>Date Time</th>
                                                <th>Device ID</th>
                                                <th>Device Name</th>
                                                <th>Operating System</th>
                                                <th>IP Address</th>
                                                <th>Interval</th>
                                                <th>Err. Number</th>
                                                <th>Err. Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="log in appLogs | orderBy:'-dateCreated'">
                                                <td>
                                                    <input type="checkbox" ng-model="log.selected" ng-change="checkDataChanges(log)">
                                                </td>
                                                <td><span am-time-ago="log.dateCreated"></span></td>
                                                <td><a href="">{{log.deviceID}}</a></td>
                                                <td>{{log.deviceName}}</td>
                                                <td>{{log.osName}}<small> ({{log.osVersion}})</small></td>
                                                <td>{{log.IPAddress}}</td>
                                                <td>{{log.Interval}}</td>
                                                <td>{{log.errorNumber}}</td>
                                                <td>{{log.errorDescription}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12" align="center">
                                                    <div class="text-center">
                                                        <uib-pagination boundary-links="true" force-ellipses="true" max-size="maxSize" ng-change="pageChanged()" items-per-page="limit" total-items="totalItems" ng-model="page" boundary-links="true" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
<!-- /.content -->
