<!DOCTYPE html>
<html ng-app="wifi">

<head>
    <meta charset="UTF-8">
    <title>WifiHealing</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- LIBRARY -->
    <!-- build:css css/main.min.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/angular-chart.js/dist/angular-chart.css" rel="stylesheet">
    <link href="bower_components/footable/css/footable.core.min.css" rel="stylesheet">
    <link href="bower_components/ng-dialog/css/ngDialog.min.css" type="text/css" rel="stylesheet">
    <link href="bower_components/ng-dialog/css/ngDialog-theme-default.css" type="text/css" rel="stylesheet">
    <link href="bower_components/angular-toastr/dist/angular-toastr.min.css" type="text/css" rel="stylesheet">
    <link href="bower_components/angular-ui-select/dist/select.min.css" type="text/css" rel="stylesheet">
    <link href="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css" type="text/css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="public/styles/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="public/styles/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="public/styles/style.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
</head>

<body class="skin-blue">
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <div ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <!-- ./wrapper -->
    <!-- build:js js/main.min.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/async/dist/async.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/footable/dist/footable.min.js"></script>
    <script src="bower_components/footable/dist/footable.sort.min.js"></script>
    <script src="bower_components/footable/dist/footable.paginate.min.js"></script>
    <!-- jvectormap -->
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- socket.io -->
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <!--
        *
        *
        ANGULAR LIBRARY
        *
        *-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/angular-footable/dist/angular-footable.min.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="bower_components/spin.js/spin.min.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <!-- for no html5 browsers support -->
    <script src="public/scripts/plugins.js"></script>
    <script src="public/scripts/jquery-jvectormap-au-mill.js"></script>
    <script src="public/scripts/jquery-jvectormap-ph-mill-en.js"></script>
    <!-- endbuild -->
    <!--
        *
        *
        *
        *
        *
        ANGULAR
        *
        *
        *
        *
        *-->
    <!-- build:js1 js/app.min.js -->
    <script src="public/scripts/app.js"></script>
    <!-- CONTROLLERS -->
    <script src="public/modules/main.js"></script>
    <script src="public/modules/datepicker.modal.controller.js"></script>
    <!-- DASHBOARD -->
    <script src="public/modules/dashboard/dashboard.js"></script>
    <script src="public/modules/dashboard/appLogsCtrl.js"></script>
    <script src="public/modules/dashboard/monitoring.js"></script>
    <!-- DEVICES -->
    <script src="public/modules/devices/devices.js"></script>
    <script src="public/modules/devices/deviceinfo.modal.js"></script>
    <!-- MONITORING -->
    <script src="public/modules/monitoring/monitoring.js"></script>
    <script src="public/modules/monitoring/dashboardMonitoring.js"></script>
    <!-- REPORTS -->
    <script src="public/modules/reports/reports.js"></script>
    <!-- DIRECTIVES -->
    <script src="public/scripts/appdirectives.js"></script>
    <!-- SERVICES -->
    <script src="public/scripts/services/auth.js"></script>
    <script src="public/scripts/services/service.js"></script>
    <script src="public/scripts/services/socket.js"></script>
    <!-- FILTERS -->
    <!-- endbuild -->
</body>

</html>
