<!-- Logo -->
<a href="index.html" class="logo"><b>WIFI</b>Healing</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <li class="dropdown notifications-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have 10 notifications</li>
                    <li ng-include="'./public/modules/templates/header.notif.html'"></li>
                    <li class="footer"><a href="">View all</a></li>
                </ul>
            </li>

            <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="./public/images/avatar.png" err-src="http://placehold.it/160x160" class="user-image" alt="User Image">
                    <span class="hidden-xs">  John Doe</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="./public/images/avatar.png" err-src="http://placehold.it/160x160" class="img-circle" alt="User Image">
                        <p>
                            John Doe
                            <small>Member <span>June 30, 1992</span></small>
                            <small>SekSek Company</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a ui-sref="main.settings-profile" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="" ng-click="logoutApp()" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
