<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a ui-sref="main.monitoring"><i class="fa fa-server"></i> Monitoring</a></li>
        <li><a ui-sref="main.devices"><i class="fa fa-desktop"></i> Devices</a></li>
        <li class="header">REPORT</li>
        <li class="treeview">
            <a href="">
                <i class="fa fa-file-o"></i>
                <span>Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="main.applicationlog"><i class="fa fa-circle-o"></i> Application Log</a></li>
            </ul>
        </li>
        <!-- <li class="treeview">
            <a href="">
                <i class="fa fa-pie-chart"></i>
                <span>Analytics</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="main.analytics-overview"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                <li><a ui-sref="main.analytics-appoverview"><i class="fa fa-circle-o"></i> Device Overview</a></li>
                <li>
                    <a href=""><i class="fa fa-circle-o"></i> Behavior <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href=""><i class="fa fa-circle-o"></i> Overview</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i> Device</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i> Activity</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i> Logs</a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
    </ul>
</section>
<!-- /.sidebar -->
