<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Dashboard
            <small>Version 1.0</small>
          </h1>
    <ol class="breadcrumb">
        <li><a href="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="row" ng-controller="dashboardCtrl">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-wifi"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Connection</span>
                    <span class="info-box-number">{{info.online.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Inactive Connection</span>
                    <span class="info-box-number">{{info.offline.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Devices</span>
                    <span class="info-box-number">{{info.devices}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-file-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Logs</span>
                    <span class="info-box-number">{{info.appLogs}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info" ng-controller="appLogsCtrl">
                <div class="box-header with-border">
                    <h3 class="box-title">Application Log</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-click="refreshReport()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-box-tool dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a href=""><i class="fa fa-file-excel-o"></i> Export as Excel (XLSX)</a></li>
                                <li><a href=""><i class="fa fa-file-excel-o"></i> Export as CSV</a></li>
                                <li><a href=""><i class="fa fa-th"></i> Export as Google Sheets</a></li>
                                <li class="divider"></li>
                                <li><a href=""><i class="fa fa-refresh"></i> Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-hover no-margin">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" width="5%">
                                        <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                    </th>
                                    <th>Date Time</th>
                                    <th>Device ID</th>
                                    <th>Device Name</th>
                                    <th>Operating System</th>
                                    <th>IP Address</th>
                                    <th>Interval</th>
                                    <th>Err. Number</th>
                                    <th>Err. Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in appLogs | orderBy:'-dateCreated' | limitTo: 10">
                                    <td>
                                        <input type="checkbox" ng-model="log.selected" ng-change="checkDataChanges(log)">
                                    </td>
                                    <td><span am-time-ago="log.dateCreated"></span></td>
                                    <td><a href="">{{log.deviceID}}</a></td>
                                    <td>{{log.deviceName}}</td>
                                    <td>{{log.osName}}<small> ({{log.osVersion}})</small></td>
                                    <td>{{log.IPAddress}}</td>
                                    <td>{{log.Interval}}</td>
                                    <td>{{log.errorNumber}}</td>
                                    <td>{{log.errorDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <a ui-sref="main.applicationlog" class="btn btn-sm btn-primary btn-flat pull-right">View All</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- MAP & BOX PANE -->
            <div class="box box-success" ng-controller="dashMonitoringCtrl">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoring Report - {{defaultMap}}</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-box-tool dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a href="" ng-click="loadWorldMap()">View World Map</a></li>
                                <li><a href="" ng-click="loadAusMap()">Australia</a></li>
                                <li><a href="" ng-click="loadPhilMap()">Philippines</a></li>
                                <li class="divider"></li>
                                <li><a href="">Refresh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="pad">
                                <!-- Map will be created here -->
                                <div id="world-map-markers" style="height: 325px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
